// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding
@import url(http://fonts.googleapis.com/css?family=Audiowide)

@import "compass/css3/transform"
// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  #container
    +container
    header
      h1
        font:
          family: 'Audiowide', cursive
          size: 10px
        //+rotate(45)
        a
          text-decoration: none
          text-transform: uppercase
          line-height: 1em
          span
            line-height: 17px
            &#rennes
              display: block
              font-size: 2.4em
            &#dev
              font-size: 2.4em
            &#ops
              font-size: 2.4em
    
form
  +blueprint-form
  // You'll probably want to remove the scaffolding once you start styling your site.
  +blueprint-scaffolding